.navbar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 14px 3%;
  z-index: 999;
}

.navbar > .right-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 13px;
}

.navbar > .right-nav > .nav-text {
  font-size: 13px;
}

.navbar > .right-nav > .nav-join {
  font-size: 13px;
  margin-left: 8px;
  padding: 9px 20px;
  background-color: #e50914;
  color: #ffff;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
}

.navbar > .right-nav > .nav-sign {
  font-size: 13px;
  margin-left: 8px;
  padding: 9px 20px;
  background-color: transparent;
  color: #ffff;
  border-radius: 2px;
  border: 1px solid #888;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .navbar > .right-nav {
    display: none;
  }
  .navbar {
    justify-content: center;
  }
}
