.app > .container {
  padding: 5% 3%;
}

.container > .heading > h1 {
  font-size: 3.25rem;
  margin-bottom: 10px;
}

.container > .heading > .sypnosis {
  font-size: 19px;
  max-width: 598px;
  margin-bottom: 20px;
}

.container > .section {
  margin-top: 30px;
}

.container > .section > .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 10px;
  position: relative;
}
.container > .sub-warning {
  background: #181818;
  font-size: 1.5em;
  padding: 1em;
  position: relative;
  text-align: center;
  margin: -6em -20px;
}
.container > .sub-warning::before {
  background: linear-gradient(180deg, transparent 0, #181818);
  bottom: 100%;
  content: " ";
  height: 15em;
  left: 0;
  position: absolute;
  right: 0;
}
.container > .sub-warning > .text > .join {
  font-size: 20px;
  min-height: 48px;
  min-width: 112px;
  padding: 14px 2em;
  background-color: #e50914;
  color: #ffff;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
}
.container > .sub-warning > .text {
  margin: 0 auto;
  max-width: 730px;
}

.section[aria-hidden="true"] {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

@media only screen and (max-width: 800px) {
  .app > .container {
    padding: 10% 3%;
  }
  .container > .sub-warning {
    padding: 0.5em;
  }
}
